
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome To Admin Panel</h2>

<button type="button" class="btn btn-default">@Html.ActionLink("Add Employees","Adminlte","Admin")</button>
<button type="button" class="btn btn-default">@Html.ActionLink("Create Units","Units","Admin")</button>
<button type="button" class="btn btn-default">@Html.ActionLink("Create Category","Category","Admin")</button>
<button type="button" class="btn btn-default">@Html.ActionLink("Add Products","Product","Admin")</button>